backup/
fp-info-cache
termo_pair_project-backups/ 
~termo_pair_project.kicad_sch.lck
*.swp

*auto_save*
*autosave*
# from master
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app
